@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --bg-color-1: #0F0E1C ;
    --bg-color-2: #382e4e ;
    --color-1: #FFE6E6 ;
    --color-2: #E1AFD1 ;
    --accent-color: #7469B6 ;
    --icon-color: #AD88C6 ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Noto Sans Display", Arial, Helvetica, sans-serif;
    background-color: var(--bg-color-1);
    font-size: 12pt;
    color: var(--color-1);
    padding-top: 90px; 
    min-height: 100vh;
    display: flex;    
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.bg-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    filter: brightness(0.5);
}


.navbar {
    width: 100vw;
    height: 90px;
    background-color: var(--bg-color-2);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 10px 2px var(--bg-color-2) ;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px; 
    font-weight: 300;
    z-index: 100;

    /* milky effect */
    box-shadow: 0 0 10px 2px rgb(56, 46, 78, 0.4) ;
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2), 0 0 20px rgba(0, 0, 0, 0.3); 
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-logo {
    margin-right: auto; 
    margin: 0 20px;
}

.navbar ul {
    display: flex; 
    gap: 20px; 
    margin: 0 20px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--color-1);
    padding: 12px; 
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: 0.3s ease;
}

.navbar ul li a:hover {
    background-color: var(--accent-color);
}

.navbar ul li a {
    padding: 12px; 
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: 0.3s ease;
  }
  
  
  .navbar ul li svg {
    width: 30px;
    height: 30px;
    color: var(--color-1);
  }

  .navbar ul li a.active-tab {
    background-color: var(--accent-color);
  }

  .hidden-view {
    display: none !important;
  }
  
  .active-view {
    display: flex !important;
  }
  
.music-container,
.statistics-container,
.timer-container{
    width: 900px;
    height: 750px;
    display: flex;
    margin: 50px 50px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color:  rgb(56, 46, 78, 0.4);
    border-radius: 30px;

    /* milky effect */
    box-shadow: 0 0 10px 2px rgb(56, 46, 78, 0.4) ;
    background: rgba(255, 255, 255, 0.1) !important; 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2), 0 0 20px rgba(0, 0, 0, 0.3); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
}

.timer-container .quote {
    font-size: 1.2rem;
}

.timer-container .timer{
    font-size: 9rem;
    text-shadow: black 5px 7px 10px;
    position: relative;
}
.timer-container .timer::after{
    content: var(--timer-label, 'Work');
    font-size: 1.2rem;
    color: var(--accent-color);
    position: absolute;
    top: 10px; left: 150px;
    text-shadow: none;
}

.start-timer,
.reset-timer,
.adjust-buttons > div,
.pause-buttons > div {
    display: inline-block;
    margin: 0 10px;

    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;

    /* milky effect */
    box-shadow: 0 0 10px 2px rgb(56, 46, 78, 0.4) ;
    background: rgba(255, 255, 255, 0.1) !important; 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2), 0 0 20px rgba(0, 0, 0, 0.3); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    transition: all ease 0.3s;
}
.adjust-buttons > div, .start-buttons > div {
    padding: 10px 55px;
}


.start-timer:hover,
.reset-timer:hover,
.adjust-buttons > div:hover,
.pause-buttons > div:hover {
    background: rgba(255, 255, 255, 0.25) !important; 
    backdrop-filter: blur(0px); 
    -webkit-backdrop-filter: blur(0px);
}

.start-timer:active,
.reset-timer:active,
.adjust-buttons > div:active,
.pause-buttons > div:active {
    transform: scale(0.9);
}

.statistics-container{
    padding: 20px 0;
}